.listings {
    .button.is-primary.is-rounded.is-outlined.category-icon {
        cursor: auto;
    }
    .media {
        justify-content: space-between;
    }
    .subtitle.is-3 {
        margin: 1.5rem 0;
    }
}