<div class="message is-success">
        <% if notice %>
          <div class="message-body"><%= notice %></div>
        <% end %>
    </div>
    <div class="message is-warning">
        <% if alert %>
          <div class="message-body"><%= alert %></div>
        <% end %>
    </div>